body {
    font-family: var(--font-main);
    color: var(--color-text-dark);

    background-image: url('../../img/backgrounds/site-bg.png');
    background-size: cover;
    background-position: center;

    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;

    padding: 0 81px;
}

.container {
    width: var(--layout-width);
    margin: 0 auto;
}