:root {
    --vermelho-cereja: #c62828;
    --rosa-suave: #f48fb1;
    --rosa-claro: #fde4ec;
    --verde-folha: #2e7d32;

    --branco: #ffffff;
    --cinza-texto: #333333;

    --sombra-leve: 0 4px 10px rgba(0,0,0,0.08);
}